* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background:182, 47, 42;
  color:201, 80, 74;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8%;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  color:194, 84, 58;
  font-weight: 500;
}

/* HERO */
.hero-layout {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 4rem;
  padding: 4rem 8%;
  align-items: center;
}

.hero-left {
  background: #facc15;
  padding: 3rem;
  border-radius: 24px;
}

.hero-left h1 {
  font-size: 2.5rem;
}

.hero-left span {
  font-weight: 700;
}

.hero-left p {
  margin: 1rem 0 2rem;
}

.cta-btn {
  padding: 0.8rem 1.8rem;
  border: none;
  background: #111;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

/* HERO RIGHT */
.hero-right {
  display: flex;
  justify-content: center;
}

.profile-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #ffffff;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* SKILLS SECTION */
.skills-section {
  padding: 3rem 8%;
  display: flex;
  justify-content: flex-end;
}

.skills-card {
  background: white;
  padding: 2rem;
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.skill {
  margin: 1rem 0;
}

.bar {
  height: 6px;
  background:117, 10, 71;
  border-radius: 10px;
  margin-top: 0.4rem;
}

.fill {
  height: 100%;
  width: 0; /* IMPORTANT for animation */
  border-radius: 10px;
  background:46, 15, 80;
  transition: width 1.2s ease-in-out;
}

/* SECTIONS */
.section {
  padding: 4rem 10%;
  text-align: center;
}

.light {
  background: white;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.stat {
  background: #facc15;
  padding: 1.5rem;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat span {
  font-size: 0.7rem;
  font-weight: 400;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: #facc15;
  padding: 2rem;
  border-radius: 20px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-layout {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .skills-section {
    justify-content: center;
  }
}
